@keyframes slide-left {
    100% {
        left: 0;
    }
}

@keyframes slide-right {
    100% {
        right: -100%;
    }
}

._animate-slide-left {
    left: 100%;
    animation: 0.3s forwards ease-out slide-left;
}

._animate-slide-right {
    right: 0;
    animation: 0.3s forwards ease-out slide-right;
}
